.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
  background-image: url("./../../public/assets/bg.jpg");
}

.cpContainer {
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: rgb(141, 89, 41, 0.8);
  
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 25px rgb(141, 89, 41, 0.25);

}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 5px;
}

.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 150px;
}

.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
input,
textarea {
  margin-top: 5px;
}
